<ion-header>
  <ion-navbar color="primary">
    <ion-title>Listas de compra</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="Puxe para atualizar"
      refreshingText="Atualizando...">
    </ion-refresher-content>
  </ion-refresher>

  <ion-card no-border class="notfound" *ngIf="lists.length == 0">
    <ion-card-content text-center>
      <img src="assets/imgs/no-results.png" />
      <h1>Nenhuma lista de compra foi encontrada</h1>
    </ion-card-content>
  </ion-card>

  <div class="list-card" *ngIf="lists.length !== 0">
    <!-- Listas do usuário logado -->
    <accordion-list title="Minhas listas públicas" [expanded]="false">
      <ion-card padding *ngFor="let l of listsUserLogged; let i = index" (click)="goDetails(l, false)">
        <ion-item no-padding>
          <ion-grid no-padding>
            <ion-row>
              <ion-col col-12>
                <h2>#{{ l.id }} - {{ l.name }}</h2>
              </ion-col>
            </ion-row>
          </ion-grid>

          <p class="note">{{ l?.note }}</p>

          <p style="margin: 6px 0 2px 0;">
            <ion-icon name="calendar"></ion-icon>
            Cadastrada em {{ l?.created_at | date: 'dd/MM/yyyy hh:mm' }}<br>
          </p>
        </ion-item>
      </ion-card>
    </accordion-list>

    <!-- Listas que não pertencem ao usuário logado -->
    <ion-card padding *ngFor="let l of lists; let i = index" (click)="goDetails(l, true)">
      <ion-item no-padding>
        <ion-grid no-padding>
          <ion-row>
            <ion-col col-12>
              <h2>#{{ l.id }} - {{ l.name }}</h2>
            </ion-col>
          </ion-row>
        </ion-grid>

        <p class="note">{{ l?.note }}</p>

        <p style="margin: 6px 0 2px 0;">
          <ion-icon name="calendar"></ion-icon>
          Cadastrada em {{ l?.created_at | date: 'dd/MM/yyyy hh:mm' }}<br>
        </p>
      </ion-item>
    </ion-card>

    <ion-infinite-scroll (ionInfinite)="doInfinite($event)" *ngIf="lists.length < total">
      <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </div>
</ion-content>
