<ion-header no-border>
  <ion-navbar transparent></ion-navbar>
</ion-header>

<ion-content padding layout="auth">
  <div text-center class="center">
    <ion-list no-lines>
      <h4>{{ name?.name_reason | pickUpCertainWords:1 }}, agora sua senha</h4>

      <form [formGroup]="form" (submit)="submit(); $event.preventDefault()" novalidate>
        <ion-item no-padding>
          <ion-label floating>Senha</ion-label>
          <ion-input type="password" formControlName="password" (input)="errorPassword = false"></ion-input>
        </ion-item>

        <ion-note class="error" *ngIf="errorPassword">
          Verifique a senha que você digitou.
        </ion-note>

        <button type="submit" ion-button full [disabled]="form.invalid">
          Entrar
        </button>
      </form>

      <button ion-button clear [navPush]="'RecoveryPage'" [navParams]="params">Não sei a minha senha</button>
    </ion-list>
  </div>
</ion-content>

<ion-footer no-border>
  <ion-toolbar transparent text-center>
    <button ion-button clear (click)="goBack()">Não sou {{ name?.name_reason | pickUpCertainWords:2 }}</button>
  </ion-toolbar>
</ion-footer>
