page-tabs {
  .tabs[tabsHighlight="true"] .tab-highlight {
    background-color: color($colors, light);
  }

  .ion-logo-ideal {
    height: 29px;
    width: 37px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('../assets/imgs/tabs/icon.png');
  }
}
