<ion-header no-border>
  <ion-navbar transparent></ion-navbar>
</ion-header>

<ion-content padding layout="auth">
  <div text-center class="center">
    <ion-list no-lines>
      <h4>Olá! Para continuar, digite o seu E-mail ou CPF/CNPJ</h4>

      <form [formGroup]="form" (submit)="submit()" novalidate>
        <ion-item class="input-login" no-padding>
          <ion-label floating>E-mail ou CPF/CNPJ</ion-label>
          <ion-input type="email" formControlName="email_cpf"></ion-input>
        </ion-item>

        <ion-note class="error" *ngIf="form.get('email_cpf').hasError('required') && (form.controls.email_cpf.dirty || form.controls.email_cpf.touched)">
          E-mail ou CPF/CNPJ deve ser informado!
        </ion-note>

        <button type="submit" ion-button full icon-right [disabled]="form.invalid">
          Continuar <ion-icon name="arrow-dropright"></ion-icon>
        </button>
      </form>

      <button ion-button clear [navPush]="'RegisterPage'">Cadastrar-me</button>
    </ion-list>
  </div>
</ion-content>
