<ion-header>
  <ion-navbar color="primary">
    <ion-title>Detalhes da lista</ion-title>

    <ion-buttons right>
      <button ion-button icon-only (click)="share()">
        <ion-icon name="share"></ion-icon>
      </button>

      <button ion-button icon-only (click)="presentPopover($event)">
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="Puxe para atualizar"
      refreshingText="Atualizando...">
    </ion-refresher-content>
  </ion-refresher>

  <div class="list-card">
    <ion-card padding class="item-ribbon">
      <span class="ribbon public" *ngIf="list.public">
        <span>Pública</span>
      </span>

      <ion-item no-padding>
        <ion-grid no-padding>
          <ion-row>
            <ion-col col-12>
              <h2>#{{ list.id }} - {{ list.name }}</h2>
            </ion-col>
          </ion-row>
        </ion-grid>

        <p class="note">{{ list?.note }}</p>

        <ion-grid no-padding style="padding: 5px" *ngIf="list.date_for_purchase || list.shared">
          <ion-row>
            <ion-col col-10>
              <p *ngIf="list.date_for_purchase">
                <ion-icon name="md-calendar"></ion-icon>
                Comprar dia {{ list?.date_for_purchase | date: 'dd/MM/yyyy hh:mm' }}<br>
              </p>
            </ion-col>

            <ion-col col-2>
              <p text-right *ngIf="list.shared">
                <ion-icon name="md-share"></ion-icon>
              </p>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
    </ion-card>
  </div>

  <ion-card no-border class="notfound" *ngIf="products.length == 0">
    <ion-card-content text-center>
      <img src="assets/imgs/no-results.png" />
      <h1>Esta lista não tem nenhum produto</h1>
    </ion-card-content>
  </ion-card>

  <div *ngIf="products.length !== 0">
    <ion-list>
      <ion-item-sliding *ngFor="let p of products; let i = index">
        <ion-item ion-long-press (onPressStart)="pressed = false" (onPressing)="pressedLong(p, i)">
          <ion-avatar item-start>
            <img-loader [src]="p?.product?.images[0]?.url" class="img-loader"></img-loader>
          </ion-avatar>
          <h3 style="padding: 1px;">{{ p?.product?.description }}</h3>
          <p>Quantida a comprar: {{ p.quantity || 'NÃO DEFINIDO' }}</p>
          <p>Quantida comprada: {{ p.quantity_purchased || 0 }}</p>
        </ion-item>

        <ion-item-options side="left">
          <button ion-button (click)="promptAlert(p)">
            <ion-icon name="basket"></ion-icon>
            Qtd. comprada
          </button>
        </ion-item-options>

        <ion-item-options side="right">
          <button ion-button (click)="actionSheet(p, i)">
            <ion-icon name="options"></ion-icon>
            Opções
          </button>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
  </div>

  <!-- this fab is placed at bottom end -->
  <ion-fab bottom end #fab>
    <button ion-fab class="pop-in" color="primary">
      <ion-icon name="add"></ion-icon>
    </button>
    <ion-fab-list side="top">
      <button ion-fab color="primary" (click)="addProductScanBarcode(fab)">
        <ion-icon name="md-qr-scanner"></ion-icon>
      </button>
      <button ion-fab color="primary" (click)="addProductManual(fab)">
        <ion-icon name="create"></ion-icon>
      </button>
    </ion-fab-list>
  </ion-fab>
</ion-content>
