page-modal-add-product-list {
  .card {
    margin: 0;
    margin-bottom: 10px;
    width: 100%;
    padding-bottom: 0 !important;
  }

  .card-product {
    text-align: center;
    position: relative;
    border-top: solid 5px color($colors, primary);

    .card-content {
      padding: 5px 10px;

      img {
        height: 100px;
        width: auto;
        display: inline-block;
      }
    }
  }

  .list-card {
    .card {
      border-left: solid 5px color($colors, primary);
    }

    .label {
      margin: 0;
    }
  }

  .no-lists {
    height: calc(100% - 26vh);
    background: transparent;
    box-shadow: none;

    .card-content {
      position: absolute;
      top: 25vh;
      left: 5vw;

      h1 {
        font-size: 2rem;
        color: #676767;
      }

      img {
        display: inline-block;
        width: 30%;
        height: auto;
      }
    }
  }

  .info {
    border: 1px solid #dedede;
    border-radius: 5px;
    background: #f3f3f3;
    margin-bottom: 10px;

    p {
      margin: 0.7em 0.2em 0.7em 0.2em;
      color: #676767;
    }
  }
}
