<ion-header>
  <ion-navbar color="primary">
    <ion-title>Produtos</ion-title>
  </ion-navbar>

  <ion-searchbar
    [animated]="true"
    placeholder="Pesquisar produto"
    [(ngModel)]="searchTerm"
    (ionInput)="filterItems($event)">
  </ion-searchbar>
</ion-header>

<ion-content padding>
  <div *ngIf="searching" class="spinner-search">
    <ion-spinner></ion-spinner>
  </div>

  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Puxe para atualizar" refreshingText="Atualizando...">
    </ion-refresher-content>
  </ion-refresher>

  <div class="info">
    <p>Categoria: {{ category.name }}</p>
  </div>

  <ion-card no-border class="notfound" *ngIf="products.length == 0">
    <ion-card-content text-center>
      <img src="assets/imgs/no-results.png" />
      <h1>Nenhum produto foi encontrado</h1>
    </ion-card-content>
  </ion-card>

  <div *ngIf="products.length !== 0">
    <!-- Buttons -->
    <ion-grid no-padding class="card-buttons">
      <ion-row>
        <ion-col col-6>
          <button no-margin ion-button icon-only full color="light" (click)="changeDisplayType('grid')">
            <ion-icon name="md-apps" color="{{ displayType ? 'primary' : 'dark' }}"></ion-icon>
          </button>
        </ion-col>
        <ion-col col-6>
          <button no-margin ion-button icon-only full color="light" (click)="changeDisplayType('list')">
            <ion-icon name="md-list" color="{{ !displayType ? 'primary' : 'dark' }}"></ion-icon>
          </button>
        </ion-col>
      </ion-row>
    </ion-grid>

    <div>
      <!-- Grid -->
      <ion-grid *ngIf="displayType">
        <ion-row>
          <ion-col col-6 col-sm-4 col-md-2 *ngFor="let p of products; let i = index">
            <card-offers
              [id]="p?.id"
              [description]="p?.description"
              [unity]="p?.unity?.abbreviation"
              [price]="p?.price"
              [images]="p?.images"
            ></card-offers>
          </ion-col>
        </ion-row>
      </ion-grid>
      
      <!-- List-->
      <div *ngIf="!displayType">
        <ion-row>
          <ion-col col-12 *ngFor="let p of products; let i = index">
            <card-offers
              [horizontal]="true"
              [description]="p?.description"
              [unity]="p?.unity?.abbreviation"
              [price]="p?.price"
              [images]="p?.images"
            ></card-offers>
          </ion-col>
        </ion-row>
      </div>
    </div>

    <ion-infinite-scroll (ionInfinite)="doInfinite($event)" *ngIf="products.length < total">
      <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </div>
</ion-content>
