<ion-header no-border>
  <ion-navbar transparent></ion-navbar>
</ion-header>

<ion-content fullscreen>
  <div class="conteudo">
    <div text-center>
      <img src="assets/imgs/menu/logo.png">
    </div>

    <ion-list no-lines margin>
      <ion-item>
        <ion-icon name="pin" item-start></ion-icon>
        <p text-wrap text-justify>Rua Lenheiros, 632 - Centro, Carmo do Paranaíba - MG, 38840-000</p>
      </ion-item>

      <ion-item>
        <ion-icon name="call" item-start></ion-icon>
        <p>+55 (34) 3851-2270</p>
      </ion-item>

      <ion-item>
        <ion-icon name="desktop" item-start></ion-icon>
        <p>www.idealsupermercados.com</p>
        <p>contato@idealsupermercados.com</p>
      </ion-item>

      <ion-item>
        <ion-icon name="clock" item-start></ion-icon>
        <p>Segunda a Domingo 07:00–21:00</p>
      </ion-item>
    </ion-list>

    <div #map class="map">
      <ion-spinner class="map"></ion-spinner>
    </div>

    <div #pleaseConnect class="please-connect">
      <p>Por favor conecte a internet...</p>
    </div>
  </div>
</ion-content>
