// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------

.content {
	background-color: color($colors, content);
}

/* Inicio - Menu */
#menuPrincipal {
	.activeHighlight {
		font-weight: bold;
  }

  ion-buttons.bar-buttons {
    top: -45px;
    position: relative;
  }

  button.bar-button {
    font-size: 1.3rem;
  }

	.content {
		background: color($colors, light) url("../assets/imgs/menu/background-menu.jpg") no-repeat right top;
	}

	.content:after{
		content: '';
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background-color: rgba(color($colors, content), 0.9);
	}

	.content .item {
		background-color: rgba(color($colors, light), 0.5);
		margin-bottom: 5px;
  }

  .label {
    color: color($colors, grey);
    font-weight: 400;
  }
  ion-icon {
    color: color($colors, grey);
  }

	.toolbar .item {
		color: color($colors, light);
		background-color: rgba(color($colors, light), 0);

    ion-icon {
      color: color($colors, light);
    }

    h2 {
      color: color($colors, light);
    }

		p {
			color: color($colors, light);
			font-size: 1.1rem;
    }
	}
}
/* Fim - Menu */

/* Inicio - Network */
.toolbar-network {
  bottom: -2.7vh;

  .toolbar {
    opacity: 0.9;
    display: inherit;
  }

  .toolbar-background {
    height: 25px;
    background: red;
  }

  .connection-title {
    color: color($colors, light);
    margin-top: 5px;
    white-space: normal;
    font-size: 1.2rem;
    height: 10px;

    .ion-icon {
      font-size: 1.2em;
    }
  }
}

/* Inicio - Loading */
.loading-auth {
  ion-loading ion-backdrop {
    background-color: rgba(color($colors, content), 0.6);
  }

  .loading-ios .loading-wrapper {
    background: transparent;
    box-shadow: none;
  }

  .loading-md .loading-wrapper {
    background: transparent;
    box-shadow: none;
  }
}
/* Fim - Loading */

//Corrige erro do Scroll no Android
.scroll-content {
  padding-bottom: 0 !important;
}

.opacity {
  opacity: 0.9;
}

ion-modal.inset-modal {
  // transparent black background overlay
  background-color: rgba(0, 0, 0, .5) !important;
  transition: opacity .25s ease-in-out;
  padding: 20vh 10vw;
}

.notfound {
  height: calc(100% - 26vh);
  background: transparent;
  box-shadow: none;

  .card-content {
    h1 {
      font-size: 2rem;
      color: #676767;
    }

    img {
      display: inline-block;
      width: 30%;
      height: auto;
    }
  }
}