<!-- Menu Principal -->
<ion-menu [content]="content" side="start" id="menuPrincipal">
  <ion-header no-border>
    <ion-toolbar text-center transparent>
      <!--<ion-buttons end>
        <button color="grey" ion-button icon-only><ion-icon name="construct"></ion-icon></button>
      </ion-buttons>-->

      <div text-center>
        <img width="200" height="130" src="assets/imgs/menu/logo.png">
      </div>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list no-lines no-margin>
      <button menuClose ion-item detail-none *ngFor="let p of pages" (click)="openPage(p)" [class.activeHighlight]="checkActive(p)">
        <ion-icon [name]="p.icon" item-left></ion-icon>
        {{p.title}}
        <ion-badge item-end>{{p.badge}}</ion-badge>
      </button>
    </ion-list>

    <ion-list no-lines>
      <button menuClose ion-item detail-none (click)="openPage({component: 'OptionsPage'})" [class.activeHighlight]="checkActive({component: 'OptionsPage'})">
        <ion-icon name="settings" item-left></ion-icon>
        Configurações e privacidade
      </button>
    </ion-list>
  </ion-content>

  <ion-footer no-border>
    <ion-toolbar color="secondary" menuClose>

      <ion-item no-lines *ngIf="!userLogged" (click)="openPage({component: 'AuthPage'})">
        <ion-avatar item-start>
          <img [src]="chosenPicture" onerror="this.src='assets/imgs/menu/avatar-login.png'"/>
        </ion-avatar>
        <h2><b>Cadastre-se</b></h2>
        <p>Já sou cadastrado, quero fazer meu login.</p>
      </ion-item>

      <ion-item no-lines *ngIf="userLogged">
        <ion-avatar item-start>
          <img [src]="chosenPicture" onerror="this.src='assets/imgs/menu/avatar-login.png'"/>
        </ion-avatar>
        <h2><b>{{ userLogged?.name_reason | pickUpCertainWords:2 }}</b></h2>
        <p>{{ userLogged?.email }}</p>
        <button ion-button icon-only clear item-end (click)="logout()"><ion-icon name="exit"></ion-icon></button>
      </ion-item>

    </ion-toolbar>
  </ion-footer>
</ion-menu>

<!-- Flash Messages -->
<flash></flash>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>

<!-- Message Network 
<div *ngIf="!online">
  <ion-footer class="toolbar-network">
    <ion-toolbar no-padding>
      <p class="connection-title" icon-start text-center no-margin>
        <ion-icon name="md-wifi"></ion-icon>
        Sem conexão de internet.
      </p>
    </ion-toolbar>
  </ion-footer>
</div>-->
