page-view-product {
  .price {
    color: color($colors, primary);
    font-weight: bold;
    font-size: 2.2em;
  }

  .item {
    padding: 0;
  }

  .list {
    .item {
      min-height: 2.5rem;
          
      .label {
        margin: 0;
      }
    }
  }

  .card-content {
    img {
      max-height: 250px;
      width: auto;
    }
  }

  .slideShow {
    .img-center {
      display: inline-block;
      max-width: 150px;
      max-height: 150px;
    }

    .swiper-slide {
      width: 100%;
    }

    .swiper-pagination-bullet {
      background: color($colors, light);
    }

    .swiper-pagination-bullet-active {
      background: color($colors, secondary);
    }
  }

  .segment-md .segment-button.activated,
  .segment-md .segment-button.segment-activated {
    color: #fff;
    background: color($colors, primary);
  }
}
