<ion-header no-border>
  <ion-navbar transparent></ion-navbar>
</ion-header>

<ion-content padding layout="auth">
  <div text-center class="center">
    <ion-list no-lines>
      <h4 no-margin>Notamos que você ainda não se cadastrou!</h4>
      <p style="font-size: 1.3rem;">Preencha os campos abaixo para se cadastrar.</p>

      <form [formGroup]="form" (submit)="submit()" novalidate>
        <ion-item no-padding formGroupName="partner">
          <ion-label>* Tipo de Pessoa</ion-label>
          <ion-select cancelText="Cancelar" formControlName="type_person">
            <ion-option value="Física" (ionSelect)="typepartnerSelect('Física')">Física</ion-option>
            <ion-option value="Jurídica" (ionSelect)="typepartnerSelect('Jurídica')">Jurídica</ion-option>
          </ion-select>
        </ion-item>

        <ion-item no-padding formGroupName="partner">
          <ion-label stacked *ngIf="fisica">* Nome completo</ion-label>
          <ion-label stacked *ngIf="!fisica">* Razão Social</ion-label>
          <ion-input type="text" formControlName="name_reason"></ion-input>
        </ion-item>

        <ion-note class="error" *ngIf="partner.get('name_reason').invalid && (partner.controls.name_reason.dirty || partner.controls.name_reason.touched)">
          Verifique os dados acima.
        </ion-note>

        <ion-item no-padding formGroupName="partner">
          <ion-label stacked *ngIf="fisica">* Número CPF</ion-label>
          <ion-input type="tel" *ngIf="fisica" formControlName="cpf_cnpj" (ionBlur)="valida('cpf_cnpj', $event.value, 'cpf')" [brmasker]="{mask:'000.000.000-00', len:14, type:'num'}"></ion-input>

          <ion-label stacked *ngIf="!fisica">* Número CNPJ</ion-label>
          <ion-input type="tel" *ngIf="!fisica" formControlName="cpf_cnpj" (ionBlur)="valida('cpf_cnpj', $event.value, 'cnpj')" [brmasker]="{mask:'00.000.000/0000-00', len:18, type:'num'}"></ion-input>
        </ion-item>

        <ion-note class="error" *ngIf="fisica && partner.get('cpf_cnpj').hasError('required') && (partner.controls.cpf_cnpj.dirty || partner.controls.cpf_cnpj.touched)">
          O CPF deve ser informado.
        </ion-note>
        <ion-note class="error" *ngIf="fisica && partner.get('cpf_cnpj').hasError('cpfCnpjValido') && (partner.controls.cpf_cnpj.dirty || partner.controls.cpf_cnpj.touched)">
          O CPF informado é inválido.
        </ion-note>
        <ion-note class="error" *ngIf="fisica && partner.get('cpf_cnpj').hasError('duplicity') && (partner.controls.cpf_cnpj.dirty || partner.controls.cpf_cnpj.touched)">
          O CPF informado já esta cadastrado.
        </ion-note>
        
        <ion-note class="error" *ngIf="!fisica && partner.get('cpf_cnpj').hasError('required') && (partner.controls.cpf_cnpj.dirty || partner.controls.cpf_cnpj.touched)">
          O CNPJ deve ser informado.
        </ion-note>
        <ion-note class="error" *ngIf="!fisica && partner.get('cpf_cnpj').hasError('cpfCnpjValido') && (partner.controls.cpf_cnpj.dirty || partner.controls.cpf_cnpj.touched)">
          O CNPJ informado é inválido.
        </ion-note>
        <ion-note class="error" *ngIf="!fisica && partner.get('cpf_cnpj').hasError('duplicity') && (partner.controls.cpf_cnpj.dirty || partner.controls.cpf_cnpj.touched)">
          O CNPJ informado já está cadastrado.
        </ion-note>

        <!--<ion-item no-padding formGroupName="partner">
          <ion-label stacked>Número de Telefone</ion-label>
          <ion-input type="tel" formControlName="number_cell" [brmasker]="{phone: true}"></ion-input>
        </ion-item>-->

        <ion-item no-padding formGroupName="user">
          <ion-label stacked>* E-mail</ion-label>
          <ion-input type="email" formControlName="email"></ion-input>
        </ion-item>

        <ion-note class="error" *ngIf="user.get('email').hasError('required') && (user.controls.email.dirty || user.controls.email.touched)">
          O e-mail deve ser informado.
        </ion-note>
        <ion-note class="error" *ngIf="user.get('email').hasError('pattern') && (user.controls.email.dirty || user.controls.email.touched)">
          O e-mail informado não é válido.
        </ion-note>
        <ion-note class="error" *ngIf="user.get('email').hasError('duplicity') && (user.controls.email.dirty || user.controls.email.touched)">
          O e-mail informado já está cadastrado.
        </ion-note>

        <ion-item no-padding formGroupName="user">
          <ion-label stacked>* Senha</ion-label>
          <ion-input type="password" formControlName="password"></ion-input>
        </ion-item>

        <ion-note class="error" *ngIf="user.get('password').hasError('required') && (user.controls.password.dirty || user.controls.password.touched)">
          Uma senha deve ser informada.
        </ion-note>
        <ion-note class="error" *ngIf="user.get('password').hasError('minlength') && (user.controls.password.dirty || user.controls.password.touched)">
          A senha está muito curta.
        </ion-note>
        <ion-note class="error" *ngIf="user.get('password').hasError('maxlength') && (user.controls.password.dirty || user.controls.password.touched)">
          A senha está muito grande.
        </ion-note>

        <ion-item no-padding formGroupName="user">
          <ion-label stacked>* Confirme a Senha</ion-label>
          <ion-input type="password" formControlName="password_confirmation"></ion-input>
        </ion-item>
        <ion-note class="error" *ngIf="user.get('password_confirmation').hasError('matchOther') && (user.controls.password_confirmation.dirty || user.controls.password_confirmation.touched)">
          A senha não confere com a anterior.
        </ion-note>

        <button type="submit" ion-button full [disabled]="form.invalid">
          Cadastrar-me
        </button>
      </form>

      <p text-center class="termosUso">Ao cadastrar-me, declaro que sou maior de idade e aceito os Termos e condições e as Políticas de privacidade do Supermercado Ideal.</p>
    </ion-list>
  </div>
</ion-content>
