<ion-tabs selectedIndex="0" tabsPlacement="top" tabsHighlight="true" color="primary">
  <ion-tab [root]="privateRoot" tabTitle="Minhas Listas"></ion-tab>
  <ion-tab [root]="publicRoot" tabTitle="Listas Públicas"></ion-tab>
</ion-tabs>
