<div
  (click)="hide()"
  @messageState
  *ngIf="active"
  class="flash-container"
  [ngClass]="[activeClass, position]"
>

  <time-bar></time-bar>
  <div class="message">{{message}}</div>
  <p class="dismiss">{{dismiss}}</p>

</div>
