<ion-content>
  <ion-list no-margin no-padding no-lines>
    <ion-item (click)="editList()" color="content">
      <ion-icon name="create" item-start></ion-icon>
      Editar lista
    </ion-item>

    <ion-item (click)="deleteList()" color="danger">
      <ion-icon name="trash" item-start></ion-icon>
      Excluir lista
    </ion-item>
  </ion-list>
</ion-content>
